@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5FBFF;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #E2E8F0;
  background-color: #06864D;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  color: #ffff;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff !important;
}

.nav-link:hover {
  color: #fff !important;
  padding: 5px 20px;
  background-color: #124E33;
}

.nav-logo {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 3%;
}

.nav-logo h1 {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #06864D;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-link {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff !important;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-link:hover {
    color: #06864D !important;
    background: #124E33;
  }
  .nav-item {
    margin: 2.0rem 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/* ------------------- End of nav---------------- */
.banner {
  height: auto;
  padding-bottom: 50px;
  background-color: #124E33;
}

.banner .container-b {
  background-color: #124E33;
  width: 80%;
  margin: 0 auto;
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .banner .container-b img {
    display: none;
  }
}

@media only screen and (min-width: 1224px) {
  .banner .container-b img {
    width: 500px;
    margin-top: -50px;
  }
}

.banner .container-b h1 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  width: 80%;
  padding-bottom: 10px;
}

.banner .container-b h1 span {
  color: #06864D;
}

.banner .container-b p {
  font-size: 13px;
  font-weight: 100;
  width: 80%;
  color: #fff;
  line-height: 20px;
  font-style: italic;
  width: 80%;
}

.banner .container-b button {
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background-color: #2078BF;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-style: italic;
}

.banner .container-b .btn2 {
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid #fff;
}

.banner .container-b .btn2 a {
  color: #fff;
  text-decoration: none;
}

.banner-b {
  width: 70%;
  margin: 5% auto;
}

@media only screen and (min-width: 769px) {
  .banner-b img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .banner-b img {
    display: block;
    width: 100%;
  }
}

.container-2 {
  width: 70%;
  margin: 5% auto;
}

.container-2 h2 {
  color: #06864D;
  font-size: 20px;
  width: 90%;
}

.container-2 .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .container-2 .section-one {
    display: inline;
  }
}

.container-2 .section-one h2 {
  color: #06864D;
  font-size: 20px;
  width: 90%;
}

.container-2 .section-one p {
  color: #838383;
  margin-top: 20px;
  font-size: 15px;
  width: 80%;
}

.container-2 .section-one .cam {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: #06864D;
}

.section-two {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .section-two {
    display: inline;
  }
  .section-two .text-1 {
    margin-left: -0px !important;
  }
}

.section-two img {
  margin-top: 20px;
}

.section-two .text-1 {
  margin-left: 30px;
}

.section-two h3 {
  color: #06864D;
  font-size: 16px;
  margin-top: 20px;
}

.section-two p {
  color: #838383;
  margin-top: 20px;
  font-size: 15px;
}

.section-two button {
  margin-top: 20px;
  width: 90px;
  height: 30px;
  background-color: #2078BF;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.container-3 {
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-3 .section-three h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}

.container-3 .section-three .features {
  width: 100%;
  margin: 5% auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-3 .section-three .features .fcards {
  width: 300px;
  margin-left: 30px;
}

@media only screen and (max-width: 900px) {
  .container-3 .section-three .features .fcards {
    width: 350px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .container-3 .section-three .features .fcards {
    width: 300px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 700px) {
  .container-3 .section-three .features .fcards {
    width: 80%;
    margin: 0 auto;
  }
}

.container-3 .section-three .features .fcards h2 {
  font-size: 18px;
  color: #5C546A;
  text-align: center;
  width: 70%;
  margin: 2% auto;
}

.container-3 .section-three .features .fcards p {
  width: 80%;
  text-align: center;
  margin: 2% auto;
  font-size: 13px;
  color: #979797;
  line-height: 30px;
}

footer {
  width: 100%;
  height: auto;
  background-color: #06864D;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

@media only screen and (max-width: 770px) {
  footer .footer-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 770px) {
  footer .footer-container {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-container .top-footer {
    margin: 0 auto;
    padding: 30px 0;
    display: none;
  }
}

@media only screen and (max-width: 570px) {
  footer .footer-container {
    width: 90%;
    margin: 0 auto;
    display: inline;
    text-align: center;
  }
  footer .footer-container .top-footer {
    width: 70% !important;
    margin: 0 auto;
    display: block;
    padding-top: 30px;
  }
  footer .footer-container .contact {
    width: 100% !important;
    padding-bottom: 30px;
  }
  footer .footer-container .download {
    padding-bottom: 30px;
  }
}

footer .footer-container .top-footer {
  width: 35%;
}

footer .footer-container .top-footer h1 {
  font-size: 24px;
  color: #ffff;
  letter-spacing: 2px;
}

footer .footer-container .top-footer p {
  font-size: 16px;
  color: #d3d3d3;
}

footer .footer-container .contact {
  width: 25%;
}

footer .footer-container .contact h1 {
  font-size: 20px;
  color: #ffff;
}

footer .footer-container .contact p {
  font-size: 16px;
  color: #d4d4d4;
}

footer .footer-container .contact p a {
  text-decoration: none;
  font-size: 16px;
  color: #f8f8f8e5;
}

footer .footer-container .download h1 {
  font-size: 20px;
  color: #ffff;
}

footer .footer-container .download p {
  font-size: 16px;
  color: #d3d3d3;
}

footer .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  background: #124E33;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #979797;
}

footer .footer-bottom p {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */