@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: #F5FBFF;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
    border-bottom: 1px solid #E2E8F0;
    background-color: #06864D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    color: #ffff;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff !important;
}

.nav-link:hover{
    color: #fff !important;
    padding: 5px 20px;
    background-color: #124E33;
}

.nav-logo {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 3%;
    h1 {
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: #06864D;
        width: 100%;
        // height: 100%;
        // border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-link{
        font-size: 1.8rem;
        font-weight: 400;
        color: #fff !important;
    }

    .nav-menu.active {
        left: 0;
    }
    .nav-link:hover{
        color: #06864D !important;
        background: #124E33;
        
    }

    .nav-item {
        margin: 2.0rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
/* ------------------- End of nav---------------- */

.banner {
    height: auto;
    padding-bottom: 50px;
    background-color: #124E33;
    .container-b {
        background-color: #124E33;

        width: 80%;
        margin: 0 auto;
        padding-top: 10%;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            img {
               display: none;
            } 
        }
        @media only screen and (min-width: 1224px) {
            img {
                width: 500px;
                margin-top: -50px;
            }

        }
        h1 {
            color: rgb(255, 255, 255);
            font-size: 24px;
            font-weight: 500;
            width: 80%;
            padding-bottom: 10px;
            span {
                color: #06864D;
            }
        }
        p {
            font-size: 13px;
            font-weight: 100;
            width: 80%; 
            color: #fff;
            line-height: 20px;
            // margin-top: 20px;
            font-style: italic;
            width: 80%;
        }
        button {
            margin-top: 20px;
            width: 90px;
            height: 30px;
            background-color: #2078BF;
            border: none;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            font-style: italic;
        }
        .btn2{
            margin-left: 10px;
            background-color: transparent;
            border: 1px solid #fff;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.banner-b {
    width: 70%;
    margin: 5% auto;
    @media only screen and (min-width: 769px) {
        img {
           display: none;
        } 
    }
    @media only screen and (max-width: 768px) {
        img {
           display: block;
           width: 100%;
        } 
    }
}

.container-2 {
    width: 70%;
    margin: 5% auto;
    h2 {
        color: #06864D;
        font-size: 20px;
        width: 90%;
    }
    .section-one {
        
        display: flex;
        @media only screen and (max-width: 768px) {
            display: inline;
        }
        h2 {
            color: #06864D;
            font-size: 20px;
            width: 90%;
        }
        p {
            color: #838383;
            margin-top: 20px;
            font-size: 15px;
            width: 80%;            
        }
        .cam {
            margin-top: 20px;
            width: 100px;
            height: 30px;
            background-color: #06864D;
        }
    }
}

.section-two {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    @media only screen and (max-width: 768px) {
        display: inline;
        .text-1 {
            margin-left: -0px !important;
        }
    }
    img {
        margin-top: 20px;
    }
    .text-1 {
        margin-left: 30px;
    }
    h3 {
        color: #06864D;
        font-size: 16px;
        margin-top: 20px;
    }
    p {
        color: #838383;
        margin-top: 20px;
        font-size: 15px;
        
    }
    button {
        margin-top: 20px;
        width: 90px;
        height: 30px;
        background-color: #2078BF;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;

    }
}
.container-3 {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    .section-three {
        h2 {
            text-align: center;
            font-size: 28px;
            margin-bottom: 50px;
        }
        .features {
            // margin-left: 5% !important;
            width: 100%;
            margin: 5% auto;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            .fcards {
                @media only screen and (max-width: 900px) {
                    width: 350px;
                    margin-left: 50px;
                }
                @media only screen and (max-width: 800px) {
                    width: 300px;
                    margin-left: 50px;
                }
                @media only screen and (max-width: 700px) {
                    width: 80%;
                    margin: 0 auto;
                }
                width: 300px;
                margin-left: 30px;
                h2 {
                    font-size: 18px;
                    color: #5C546A;
                    text-align: center;
                    width: 70%;
                    margin: 2% auto;
                }
                p {
                    width: 80%;
                    text-align: center;
                    margin: 2% auto;
                    font-size: 13px;
                    color: #979797;
                    line-height: 30px;
                }
                // width: 40%;
            }
        }
    }

}

footer {
    width: 100%;
    height: auto;
    background-color: #06864D;
    .footer-container {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
        @media only screen and (max-width: 770px){
            width: 90%;
            margin: 0 auto;
        }
        @media only screen and (max-width: 770px){
            width: 95%;
            margin: 0 auto;
            display: flex;
            // text-align: center;
            .top-footer {
                // width: 0% !important;
                margin: 0 auto;
                padding: 30px 0;
                display: none;
            }
            .contact {
                // width: 100% !important;
            }
        }
        @media only screen and (max-width: 570px){
            width: 90%;
            margin: 0 auto;
            display: inline;
            text-align: center;

            .top-footer {
                width: 70% !important;
                margin: 0 auto;
                display: block;
                padding-top: 30px;
            }
            .contact {
                width: 100% !important;
                padding-bottom: 30px;
                
            }
            .download {
                padding-bottom: 30px;

            }
        }
        .top-footer {
            width: 35%;
            h1 {
                font-size: 24px;
                color: #ffff;
                letter-spacing: 2px;
            }
            p {
                font-size: 16px;
                // width: 50%;
                color: #d3d3d3;
            }
        }
        .contact {
            width: 25%;
            h1 {
                font-size: 20px;
                color: #ffff;
                
            }
            p {
                font-size: 16px;
                // width: 50%;
                color: #d4d4d4;
                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: #f8f8f8e5;
                }
            }
        }
        .download {
            h1 {
                font-size: 20px;
                color: #ffff;
                
                
            } 
            p {
                font-size: 16px;
                // width: 50%;
                color: #d3d3d3;
                
            }
        }
    }
    .footer-bottom {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 5px;
        background: #124E33;
        justify-content: space-around;
        color: #979797;
        p {
            margin-top: 5px;
        }
    }
}